// placeholder styles

::-webkit-input-placeholder {
  opacity: 1;
  color: red;
}

:-moz-placeholder {
  opacity: 1;
  color: red;
}

::-moz-placeholder {
  opacity: 1;
  color: red;
}

:-ms-input-placeholder {
  opacity: 1;
  color: red;
}
